@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

:root {
    --font: 'Secular One', sans-serif;
}


.App {
  height: 620px;
  display: flex;
  font-family: var(--font);
  background-color: #202020;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}





.contenedor-calculadora{
  width: 400px;
  height: 600px;
  background: #7e7e7e ;
  padding: 15px;
  border-radius: 20px;
  border: solid #faa72b;
}

.fila{
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}